.category-cp__action-item {
  padding: 5px;
  font-size: 28px;
  text-decoration: none;
  color: $color-border;
  &:hover {
    text-decoration: none;
    color: $color-main;
  }
}

.category-cp__action-item--active {
  color: $color-main;
}
