.login {
  border: 1px solid $color-border;
  padding: 15px;
  background-color: $color-block-bg;
  p {
    text-align: center;
  }
}

.login__social-btn {
  @extend .btn;
  @extend .btn-primary;
  border-radius: 10px;
  border: none;
  width: 100%;
  &.login__social-btn--color-blue {
    margin-bottom: 10px;
    background-color: $color-btn-fb;
  }

  &.login__social-btn--color-red {
    margin-bottom: 10px;
    background-color: $color-btn-google;
  }
}

.login__native-btn {
  @extend .btn;
  width: 49%;
  &.login__native-btn--color-green {
    @extend .btn-success;
    float: left;
    background-color: $color-main;
  }

  &.login__native-btn--color-white {
    @extend .btn-light;
    border: 1px solid $color-border;
    float: right;
  }
}
