// Main colors
$color-bg: #fafafa; //#edeef0;
$color-main: #39c18f; //#2a5885;
$color-border: #d7d8db;
$color-block-bg: #ffffff;

// Secondary colors
$color-btn-fb: #4267b2;
$color-btn-google: #d93025;
